.header{
    background-color: gray;
    text-align: center;
    padding: 25px 25px;
}


body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
}


nav{
    background-color: #660066;
    margin: 0;
    font-size: 18px;
    padding: 8px;
    position: relative;
}

main{
    width: 70%;
    margin: auto;
/*    margin-top: 30px;
    margin-left: 250px;*/
}

.menu-item{
    margin: auto;
    text-align: center;
}

.menu-item-bla{
    display: inline;
    margin: 20px 10px 20px 10px;
    /*font-weight: bold;*/
    /*transition: transform 500ms ease-in-out;*/
}

nav a{
    color: #ffffff;
}

a:hover{
    color: #f2f2f2;
}

a{
    text-decoration: none;
    color: purple;

}

.satanas{
    height: 200px;
    border-radius: 50% 50% 50% 50%;
}

.header h2{
    margin: 0;
    font-size: 18px;
}

.linha-cinza{
    width: 60%;
    border-bottom: 1px solid;
    border-color: lightgray;
    margin: auto;
}

h1{
    font-size: 50px;
    font-family: 'Bree Serif', serif;
    margin-top: 5px;
}

.header h1{
    margin-bottom: 0;
}


section{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

section h3{
    font-size: 15px;
    min-width: 150px;
    text-align: right;
    margin-right: 50px;
    padding-top: 5px;
    
}

h4 p span{
    font-size: 12px;
}

ul{
    padding: 0;
    /*list-style: none;*/
}

li{
    margin-bottom: 10px;
}

footer{
    text-align: center;
    background-color: lightslategray;
    padding: 2px;
}

footer a:hover {
    color: #660000;
    text-decoration: none;
}

@media screen and (max-width:768px) {

    section{
    display: block;
}

section h3{
    text-align: left;
    
}

body{
    text-align: left;
}

h1{
    font-size: 30px;}

}
